*, ::after, ::before{ 
    margin: 0; 
}
.container{
    display: flex; 
    width: 80%;
    margin: auto; 
    justify-content: center; 
    align-items: center;
    height: 100vh;  
}
h1{
  text-align:center;
  margin-bottom: -65px;
}
span{
  color: red;
}
h2{
    font-size: 30px;
    color:hsl(0, 0%, 95%) ;
    padding: 5px 20px;
    font-weight: 700;
    font-family:Times;
    /* margin-bottom: 20px; */
}
.sedan{
    background-color:hsl(31, 77%, 52%) ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}
.suv{
    background-color:hsl(184, 100%, 22%) ;
  width: 100%;
}
.luxury{
    background-color:hsl(179, 100%, 13%) ;
    border-top-right-radius: 10px;   
    border-bottom-right-radius: 10px;
    width: 100%;
}

    
.btn1{
    border: 1px solid white;
    background-color: hsl(31, 77%, 52%);
    margin:20px; 
    padding:10px;
    cursor:pointer;
}
.btn2{
    border: 1px solid white;
    background-color: hsl(184, 100%, 22%);
    margin:20px;
    padding:10px;
    cursor:pointer;
}
.btn3{
    border: 1px solid white;
    background-color: hsl(179, 100%, 13%);
    margin:20px;
    pa5px;
    font-family:serif;
    line-height: 30px;dding:10px;
    cursor:pointer;
}
.img1, .img2, .img3{
    padding: 20px;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    padding: 20px;
    font-size: 1
}
